
/* ===================================
   CHAT WINDOW
=================================== */

.chat-window{

    flex:1;

    display:flex;

    flex-direction:column;

    background:#0b141a;

}


/* ===================================
   CHAT HEADER
=================================== */
/* Chrome */
/* Chat hover beautiful start */
::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-track{

    background:#111b21;

}

::-webkit-scrollbar-thumb{

    background:#3b4a54;

    border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{

    background:#54656f;

}
/* Beautiful Scrollbar end */


.conversation-header{

    height:72px;

    background:#202c33;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 22px;

    border-left:1px solid #313d45;

}

.conversation-left{

    display:flex;

    align-items:center;

    gap:14px;

}

.conversation-left img{

    width:48px;

    height:48px;

    border-radius:50%;

    object-fit:cover;

}

.conversation-info h3{

    font-size:18px;

    font-weight:500;

}

.conversation-info p{

    margin-top:4px;

    color:#9aa7af;

    font-size:13px;

}

.conversation-icons{

    display:flex;

    gap:28px;

    font-size:22px;

    color:#aebac1;

}

.conversation-icons i{

    cursor:pointer;

}


/* ===================================
   CHAT BODY
=================================== */

.conversation-body{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:18px;
    padding:30px;
    overflow-y:auto;
    overflow-x:hidden;

    background-color:#0b141a;

    background-image:
        linear-gradient(rgba(11,20,26,.88), rgba(11,20,26,.88)),
        url("https://wallpaperaccess.com/full/2224368.png");

    background-repeat:repeat;
    background-size:420px;
    background-position:center;
}


/* ===================================
   DATE DIVIDER
=================================== */

.date-divider{

    align-self:center;

    background:#1f2c34;

    color:#d9d9d9;

    padding:8px 18px;

    border-radius:8px;

    font-size:13px;

}


/* ===================================
   MESSAGE
=================================== */

.message{

    max-width:420px;

    padding:12px 14px;

    border-radius:10px;

    position:relative;

    font-size:15px;

    line-height:1.5;

}

.sender{

    color:#53bdeb;

    display:block;

    font-weight:600;

    margin-bottom:5px;

}

.message p{

    color:#e9edef;

}

.time{

    display:block;

    text-align:right;

    margin-top:8px;

    font-size:11px;

    color:#8696a0;

}


/* ===================================
   INCOMING
=================================== */

.incoming{

    background:#202c33;

    align-self:flex-start;

}


/* ===================================
   OUTGOING
=================================== */

.outgoing{

    background:#005c4b;

    align-self:flex-end;

}
