/* ===========================
   RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Roboto',sans-serif;
    background:#0b141a;
    color:#e9edef;
    overflow:hidden;
}

/* ===========================
   MAIN CONTAINER
=========================== */

.container{
    display:flex;
    width:100vw;
    height:100vh;
}





/* ===========================
   EMPTY CHAT WINDOW
=========================== */

.chat-window{
    flex:1;
    background:#0b141a;
}

